<h2 class="col bg-secondary text-light p-3">Minhas Disciplinas</h2>

<div class="disciplinas col p-3">
  <div class="row">

    <% @turmas.each do |turma| %>

      <div class="col-lg-6 col-sm-12">
        <div class="card bg-dark text-light mb-3">
          <h4 class="card-header"><%= turma.disciplina %> (<%= turma.codigo_disciplina %>) - <%= turma.codigo_turma %></h4>
          <div class="card-text p-3">
            <table class="table table-borderless">
                <tr>
                  <th scope="row">Semestre</th>
                  <td><%= turma.semestre %></td>
                </tr>
                <tr>
                  <th scope="row">Professor</th>
                  <% turma.professores.each do |professor| %>
                    <td><%= p professor.nome %></td>
                  <% end %>
                </tr>
                <tr>
                  <th scope="row">Situação</th>
                  <td>INSCRITO</td>
                </tr>
            </table>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
